:root {
  --main-text-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: burlywood;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.33;

  color: var(--main-text-color);
}

.highlighted-text {
  font-weight: 400;
}

.to-uppercase {
  text-transform: uppercase;
}

/* ==========COMPONENTS========== */

.hero-text {
  /* display: block; */
  width: 646px;
}

.main-text {
  /* background-color: black; */
  color: var(--main-text-color);
  font-size: 98px;
  /* text-align: left; */
  font-weight: 500;
  line-height: normal;
  letter-spacing: -3.92px;
  text-transform: uppercase;
}

.main-text-thin {
  font-weight: 100;
}

.container {
  width: 1280px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* .page-header-container {
  display: flex;
} */

/* ==========/COMPONENTS========== */

/* ==========HEADER========== */
.general-background {
  background-image: url(../images/backgrounds/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 763px;
}

.page-header {
  /* background-color: antiquewhite; */
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logotype {
}

.logo-img {
}

.menu {
  display: flex;
  gap: 56px;
  margin-left: auto;
}

.menu-item {
}

.menu-link {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}

.menu-link:hover,
.menu-link:focus {
  color: green;
}

/* ==========/HEADER========== */

/* ==========SECTION Uncover Carpathian’s Secrets========== */

.hero-container {
  display: flex;
}

.hero-text-right {
  margin-left: auto;
}

.tours {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.44px;
}

.journey {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 36.32px;
}

.сall-block {
  margin-left: auto;
  width: 293px;
}

.small-hero-text {
  margin-bottom: 28px;
}

.join-button {
  color: #fff;

  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;

  padding: 16px 63px;
  gap: 10px;

  border: 1px dashed #fff;
  background: rgba(255, 255, 255, 0.05);
}

/* ==========/SECTION Uncover Carpathian’s Secrets========== */

/* ==========SECTION WHO WE ARE========== */
.text-offer {
  font-weight: 400;
  text-transform: uppercase;
}

.tour-for-everyone {
  letter-spacing: 2.16px;
}
/* ==========/SECTION WHO WE ARE========== */
