:root {
  --main-text-color: #fff;
}

/* ul,
ol {
  list-style: none;
} */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.33;

  /* color: #fff; */
}

/* ==========COMPONENTS========== */
.main-text {
  background-color: black;
  color: var(--main-text-color);
  font-size: 98px;
  /* text-align: left; */
  font-weight: 500;
  line-height: normal;
  letter-spacing: -3.92px;
  text-transform: uppercase;
}

.main-text-thin {
  font-weight: 100;
}

/* ==========/COMPONENTS========== */

/* ==========HEADER========== */
.page-header {
  background-color: antiquewhite;
}

.page-navigation {
}

.logotype {
}

.logo-img {
}

.menu {
  display: flex;
  gap: 56px;
}

.menu-item {
}

.menu-link {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}

.menu-link:hover,
.menu-link:focus {
  color: green;
}

/* ==========/HEADER========== */
